* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* background-color: #333; */
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 90%;
    margin: auto;
    align-items: centers;
  }

  

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: fadeInRightBig;
    animation-duration: 2s;
  }

  .logo img{
    width: 180px;
    
  }

  .nav-bar {
    animation: fadeInLeftBig;
    animation-duration: 2s;
  }
  
  .nav-bar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-bar nav a {
    color: #000;
    display: block;
    padding: 1em;
    font-weight: 500;
    text-decoration: none;

  }
  
   .nav-bar nav a:hover {
    background-color: #666;
    color: #fff;
    border-radius: 20px;
    animation: fadeIn;
    animation-duration: 1s;
  }

  /* .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url();
  } */

  .hero {
    animation: rubberBand;
    animation-duration: 2s;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .content h1 {
    font-size: 45px;
    color: #333;
    margin: 50px 0 40px 0;
  }

  .content p {
    width: 60%;
    text-align: center;
    margin: 0 0 30px 0;
    color: #333;
  }

  .content h2 {
    margin: 0 0 50px 0;
    color: #333;
  }

  .content span a {
    color: #777; 
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .btn-1 {
    padding: 10px;
    font-weight: 700;
    border: 1px solid #333;
    font-size: 14px;
    background-color: transparent;
  }

  .btn-1:hover {
    background-color: #666;
    color: #fff;
    border: none;
  }

  .btn-1 i {
    margin-right: 10px;
  }

  .btn-2 {
    padding: 10px;
    font-weight: 700;
    border: 1px solid #333;
    font-size: 14px;
    background-color: transparent;
  }

  .btn-2:hover {
    background-color: #666;
    color: #fff;
    border: none;
  }

  .btn-2 i {
    margin-right: 10px;
  }

  #about {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #about h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    animation: flip; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .column {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: space-between;
  }

  .col-1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  .col-1 ul {
    padding: 20px;
  }

  .col-1 ul li a {
    text-decoration: none;
    color: #333;
    text-shadow:2px 2px 5px #666;
  }

  .col-1 ul li {
    margin-top: 6px;
  }

  .col-2 {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .col-2 img {
    width: 70%;
    box-shadow: 10px 10px #333;
  }

  #qualifications {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #qualifications h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    color: #333;
    animation: flip; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .row-1 {
    width: 50%;
    margin-bottom: 20px;
    box-shadow: 2px 3px 2px 4px #333;
    padding: 10px;
  }

  .row-1:hover {
    box-shadow: none;
    animation: fadeOut;
    animation-duration: 1s;
  }

  .school {
    text-align: center;
  }

  .school h3 {
    text-shadow: 2px 2px 5px lightskyblue;
    font-weight: 900;
  }

  .school p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .row-2 {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 2px 3px 2px 4px #333;
    padding: 10px;
  }

  .row-2:hover {
    box-shadow: none;
    animation: fadeOut;
    animation-duration: 1s;
  }

  .college {
    text-align: center;
  }

  .college h3 {
    text-shadow: 2px 2px 5px lightskyblue;
    font-weight: 900;
  }

  .college p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .row-3 {
    width: 50%;
    margin: auto;
    box-shadow: 2px 3px 2px 4px #333;
    padding: 10px;
  }

  .row-3:hover {
    box-shadow: none;
    animation: fadeOut;
    animation-duration: 1s;
  }

  .internship {
    text-align: center;
  }

  .internship h3 {
    text-shadow: 2px 2px 5px gold;
    font-weight: 900;
  }

  .internship p {
    margin-top: 5px;
  }

  #skills h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    color: #333;
    animation: flip; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .progress {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
  }

  .circle-wrap {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 580px) {
    .progress {
        display: inline;
        justify-content: center;
    }
  }

  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill-1,
  .circle-wrap .circle .fill-2,
  .circle-wrap .circle .fill-3,
  .circle-wrap .circle .fill-4,
  .circle-wrap .circle .fill-5,
  .circle-wrap .circle .fill-6 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .circle-wrap .circle .mask {
    clip: rect(0px, 200px, 200px, 100px);
  }

  .mask .fill-1 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-1,
  .circle .fill-1 {
    animation: fill-1 ease-in-out 2s;
    transform: rotate(168deg);
  }
  @keyframes fill-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(168deg);
    }
  }

  .mask .fill-2 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-2,
  .circle .fill-2 {
    animation: fill-2 ease-in-out 2s;
    transform: rotate(168deg);
  }
  @keyframes fill-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(168deg);
    }
  }

  .mask .fill-3 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-3,
  .circle .fill-3 {
    animation: fill-3 ease-in-out 2s;
    transform: rotate(160deg);
  }
  @keyframes fill-3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(160deg);
    }
  }

  .mask .fill-4 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-4,
  .circle .fill-4 {
    animation: fill-4 ease-in-out 2s;
    transform: rotate(90deg);
  }
  @keyframes fill-4 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .mask .fill-5 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-5,
  .circle .fill-5 {
    animation: fill-5 ease-in-out 2s;
    transform: rotate(140deg);
  }
  @keyframes fill-5 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(140deg);
    }
  }

  .mask .fill-6 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #2F4F4F;
  }
  .mask.full-6,
  .circle .fill-6 {
    animation: fill-6 ease-in-out 2s;
    transform: rotate(152deg);
  }
  @keyframes fill-6 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(152deg);
    }
  }

  .circle-wrap .inside {
    width: 174px;
    height: 173px;
    border-radius: 50%;
    background: #fff;
    line-height: 170px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: #333;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    font-family: sans-serif;
  }

  .inside p {
    text-shadow: 2px 2px 8px goldenrod;
  }

  #portfolio h2{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    color: #333;
    animation: flip; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }


  .projects-section {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .projects {
    flex-basis: 100%;
    text-align: center;
  }

  .projects h3 {
    margin: 0 0 20px 0;
  }

  .web-1 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }

  .web-1 img {
    width: 250px;
    height: 250px;
    object-position: center;
    object-fit: contain;
    margin: 10px 0 50px 0;
    /* box-shadow: 0 2px 2px 2px #ccc; */
    transition: 0.5s linear;
  }

  .web-1 img:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: none;
  }

  #portfolio .popup-image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.9);
    z-index: 100;
    display: none;
  }

  #portfolio .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bolder;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }

  #portfolio .popup-image img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
    object-position: center;
  }




















  
  /* section {
    padding: 2em;
    text-align: center;
  }
  
  #slider {
    background-color: #eee;
    height: 300px;
  }
  
  #qualifications {
    background-color: #ddd;
    height: 300px;
  }
  
  #skills {
    background-color: #ccc;
    height: 300px;
  }
  
  #portfolio {
    background-color: #bbb;
    height: 300px;
  }
  
  #newsletter {
    background-color: #aaa;
    height: 300px;
  }
  
  #contact {
    background-color: #999;
    height: 300px;
  } */