* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

:root {
    --primary-color: rgb(27, 160, 67);
    --secondary-color: #d90008;
}


.container {
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
}

.header {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
}

.content {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 170px;
    margin: auto;
    padding-top: 10px ;
}

.search {
    padding: 8px;
    width: 80%;
    margin: 10px auto;
    border-radius: 6px;
    border: none;
}

.sub-header {
    width: 90%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    background: var(--secondary-color);
}

.col-1 {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.col-1 p {
    margin-bottom: 5px;
}

.col-1 i {
    margin-left: 10px;
}

.col-2 {
    display: flex;
}

.col-2 img {
    width: 60px;
}

.wrapper {
    display: grid;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.wrapper .item {
    border: 1px #ccc solid;
    box-shadow: 1px 2px 3px #ccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.wrapper .item:hover {
    box-shadow: none;
}

.wrapper .item img {
    width: 30px;
    align-self: flex-end;
}

.item h4 {
    margin-bottom: 6px;
    font-size: 13px;
}

.item p {
    font-weight: 700;
    color: darkred;
    font-size: 14px;
}

.footer-sec {
    flex-shrink: 0;
    background: #f4f4f4;
    padding: 0px;
}

.footer-sec ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: rgb(85, 85, 85);
}

.footer-sec ul li {
    text-decoration: none;
    flex-direction: column;
    display: flex;
    padding: 10px;
    margin: auto;
}

.footer-sec ul li i {
    display: flex;
    margin:6px auto;
    justify-content: center;
    font-size: 20px;
    color: rgb(85, 85, 85);
}

.footer-sec ul li:hover i{
    color: var(--secondary-color);
}




@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(3,1fr);
    }

    .wrapper .item img {
        width: 60px;
    }
}

#splash {
	position: absolute;
	
	background: var(--primary-color);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
}

#splash img {
	width: 300px;
}

#splash.fade {
	opacity: 0;
}
